body {
  background-color: #777799;
  color: #073407;
}

section {
  border-style: solid;
  padding: 1%;
}

img {
  width: 10%;
  height: 10%;
}

h1 {
  text-align: center;
}

h3 {
  display: inline;
}
